html {
  font-size: 26.66667vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC";
  height: 100%;
}
body {
  height: 100%;
  font-size: 0.16rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
ul,
p,
span,
li,
button,
img {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white  inset !important;
}
input {
  outline-color: invert;
  outline-style: none;
  outline-width: 0;
  border: none;
  border-style: none;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-radius: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  font-size: 0.16rem;
  color: #f5f5f5;
}
i {
  font-style: normal;
}
hr {
  margin: 0;
  height: 0;
}
/*  以上去掉默认样式  */
.ov {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.app {
  padding-bottom: 0.5rem;
}
/* 底部tabBar */
.tabBar {
  width: 100%;
  height: 0.48rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.tabBar ul {
  overflow: hidden;
}
.tabBar ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.tabBar ul li .showHide {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0.48rem;
  left: 0;
  z-index: 1000;
  display: none;
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.12rem 0.12rem 0 0;
}
.tabBar ul li .showHide a {
  display: block;
  padding: 0.14rem 0;
  border-bottom: 0.01rem solid #f5f5f5;
  font-size: 0.15rem;
  color: #131313;
}
.tabBar ul li .showHide a span {
  vertical-align: middle;
}
.tabBar ul li .showHide a img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.14rem;
  vertical-align: middle;
}
.tabBar ul li a {
  display: block;
  padding: 0.05rem 0;
}
.tabBar ul .tabHome a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/shouye_icon_normal@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHome.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/shouye_icon_cilck@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome.active a p {
  color: #4B89E7;
  font-size: 0.12rem;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/shuidi_icon_normal@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/shuidi_icon_cilck@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb.active a p {
  color: #4B89E7;
}
.tabBar ul .tabCash a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/guize_icon_normal@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabCash.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/guize_icon_click@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash.active a p {
  color: #4B89E7;
}
.tabBar ul .tabMy a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/person_icon_normal@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabMy.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/person_icon_click@2x.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy.active a p {
  color: #4B89E7;
}
.navBox {
  height: 0.44rem;
  line-height: 0.44rem;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navBox p {
  text-align: center;
  color: #304A61;
  font-size: 0.16rem;
  font-weight: bold;
}
.navBox i {
  position: absolute;
  background: url("../images/index/ret.png") no-repeat center;
  background-size: 0.17rem 0.17rem;
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  left: 0;
  top: 0.02rem;
}
html {
  height: 100%;
  background: #f5f5f5;
}
.app .myHead {
  width: 100%;
  height: 1.2rem;
  background: linear-gradient(90deg, #665fee, #27c2de);
}
.app .myHead .imgBox {
  position: absolute;
  bottom: 0.11rem;
  left: 0;
  width: 100%;
}
.app .myHead .imgBox img {
  width: 0.59rem;
  height: 0.59rem;
  border-radius: 50%;
  margin-left: 0.15rem;
  vertical-align: middle;
}
.app .myHead .imgBox span {
  font-size: 0.18rem;
  color: #F2B8B3;
  margin-left: 0.1rem;
  vertical-align: middle;
}
.app .myHead .imgBox i {
  float: right;
  width: 0.14rem;
  height: 0.14rem;
  background: url("../images/my/write_youjiantou@2x.png") no-repeat center;
  background-size: 0.14rem 0.14rem;
  margin-top: 0.24rem;
  margin-right: 0.15rem;
}
.app .myList {
  background: #fff;
}
.app .myList li {
  height: 0.5rem;
  line-height: 0.5rem;
}
.app .myList li a {
  display: block;
  margin-left: 0.15rem;
  padding-right: 0.15rem;
  border-bottom: 0.01rem solid #f5f5f5;
  overflow: hidden;
}
.app .myList li a i {
  width: 0.19rem;
  height: 0.19rem;
  display: inline-block;
  float: left;
  margin-top: 0.14rem;
}
.app .myList li a .zijin {
  background: url('../images/my/qianbao_icon@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .wxcode {
  background: url('../images/my/erwem_icon@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .feedback {
  background: url('../images/my/jilv_icon@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .notice {
  background: url('../images/my/bell_icom@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .yaoqing {
  background: url('../images/my/yaoqing_icon@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .beifen {
  background: url('../images/my/Shape@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a .set {
  background: url('../images/my/settings_icon@2x.png') no-repeat center;
  background-size: 100%;
}
.app .myList li a p {
  float: left;
  font-size: 0.14rem;
  color: #3F3F3F;
  margin-left: 0.15rem;
}
.app .myList li a span {
  width: 0.14rem;
  height: 0.14rem;
  background: url('../images/my/gray_youjiantou@2x.png') no-repeat center;
  background-size: 100%;
  display: inline-block;
  float: right;
  margin-top: 0.19rem;
}
/*# sourceMappingURL=my.css.map */