html {
  font-size: 26.66667vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC";
}
body {
  font-size: 0.16rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
ul,
p,
span,
li,
button,
img {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white  inset !important;
}
input {
  outline-color: invert;
  outline-style: none;
  outline-width: 0;
  border: none;
  border-style: none;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-radius: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  font-size: 0.16rem;
  color: #f5f5f5;
}
i {
  font-style: normal;
}
hr {
  margin: 0;
  height: 0;
}
/*  以上去掉默认样式  */
.ov {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.app {
  padding-bottom: 1rem;
}
/* 底部tabBar */
.tabBar {
  width: 100%;
  height: 0.48rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.tabBar ul {
  overflow: hidden;
}
.tabBar ul li {
  width: 20%;
  float: left;
  text-align: center;
}
.tabBar ul li .showHide {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0.48rem;
  left: 0;
  z-index: 1000;
  display: none;
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.12rem 0.12rem 0 0;
}
.tabBar ul li .showHide a {
  display: block;
  padding: 0.14rem 0;
  border-bottom: 0.01rem solid #f5f5f5;
  font-size: 0.15rem;
  color: #131313;
}
.tabBar ul li .showHide a span {
  vertical-align: middle;
}
.tabBar ul li .showHide a img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.14rem;
  vertical-align: middle;
}
.tabBar ul li a {
  display: block;
  padding: 0.05rem 0;
}
.tabBar ul .tabHome a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHome.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome.active a p {
  color: #E75C52;
  font-size: 0.12rem;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb.active a p {
  color: #E75C52;
}
.tabBar ul .tabAdd a i {
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/tab/tabar_add.png') no-repeat center;
  background-size: 100% 100%;
  display: block;
  margin: auto;
}
.tabBar ul .tabCash a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabCash.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash.active a p {
  color: #E75C52;
}
.tabBar ul .tabMy a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabMy.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy.active a p {
  color: #E75C52;
}
.app .ad {
  padding: 0.06rem 0.06rem 0;
}
.app .ad .swiper-wrapper .swiper-slide a {
  display: block;
}
.app .ad .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 1.07rem;
}
.app .tapNav {
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  margin-bottom: 0.15rem;
}
.app .tapNav li {
  float: left;
  text-align: center;
  width: 33.33%;
  margin-bottom: 0.15rem;
  position: relative;
}
.app .tapNav li a {
  display: block;
}
.app .tapNav li a img {
  width: 0.5rem;
  height: 0.5rem;
}
.app .tapNav li a p {
  color: #050505;
  font-size: 0.16rem;
  margin-top: 0.1rem;
}
.app .tapNav .navActive span {
  position: absolute;
  width: 0.9rem;
  height: 0.02rem;
  display: inline-block;
  background: #E33C3D;
  left: 50%;
  margin-left: -0.45rem;
  bottom: -0.15rem;
}
.app .hbTitle {
  padding: 0 0.15rem 0.2rem;
}
.app .hbTitle img {
  width: 0.23rem;
  height: 0.21rem;
  vertical-align: middle;
  margin-right: 0.1rem;
}
.app .hbTitle span {
  font-size: 0.16rem;
  color: #333333;
  vertical-align: middle;
}
.app .list {
  padding: 0 0.15rem 0 0.15rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.app .list li {
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.app .list li a {
  display: block;
  padding: 0.13rem 0.15rem;
  position: relative;
  font-size: 0.11rem;
  overflow: hidden;
  border-bottom: 1px solid #F7F7F7;
}
.app .list li a img {
  width: 0.4rem;
  height: 0.4rem;
  display: block;
  margin: auto;
  float: left;
  border-radius: 0.03rem;
}
.app .list li a .niuTitle {
  float: left;
  margin-left: 0.1rem;
  width: 2.6rem;
  overflow: hidden;
}
.app .list li a .niuTitle span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  color: #404040;
  font-size: 0.14rem;
}
.app .list li a .niuTitle .niuname {
  width: 2rem;
  text-align: left;
}
.app .list li a .niuTitle i {
  display: inline-block;
  height: 0.18rem;
  text-align: center;
  line-height: 0.19rem;
  font-size: 0.12rem;
  color: #fff;
  border-radius: 0.08rem;
  background: #e75b51;
  float: right;
  padding: 0 0.1rem;
}
.app .list li a .niuTitle .niuMember {
  background: #FA9E3B;
}
.app .list li a .niuS {
  float: left;
  margin-left: 0.1rem;
  width: 2.6rem;
  overflow: hidden;
  margin-top: 0.03rem;
}
.app .list li a .niuS span {
  color: #999999;
  font-size: 0.11rem;
  float: left;
  margin-right: 0.1rem;
}
.app .list li a .niuS .niuunum {
  color: #f79814;
}
.app .list li a .niuS .niubig {
  color: #4e98ef;
}
.app .list li a .niuS .bizhong {
  color: #404040;
}
.app .list li a .niuS i {
  color: #999999;
  font-size: 0.11rem;
  float: right;
}
/* 底部tabBar */
.tabBar {
  width: 100%;
  height: 0.48rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.tabBar ul {
  overflow: hidden;
}
.tabBar ul li {
  width: 20%;
  float: left;
  text-align: center;
}
.tabBar ul li .showHide {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0.48rem;
  left: 0;
  z-index: 1000;
  display: none;
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.12rem 0.12rem 0 0;
}
.tabBar ul li .showHide a {
  display: block;
  padding: 0.14rem 0;
  border-bottom: 0.01rem solid #f5f5f5;
  font-size: 0.15rem;
  color: #131313;
}
.tabBar ul li .showHide a span {
  vertical-align: middle;
}
.tabBar ul li .showHide a img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.14rem;
  vertical-align: middle;
}
.tabBar ul li a {
  display: block;
  padding: 0.05rem 0;
}
.tabBar ul .tabHome a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHome.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome.active a p {
  color: #E75C52;
  font-size: 0.12rem;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb.active a p {
  color: #E75C52;
}
.tabBar ul .tabAdd a i {
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/tab/tabar_add.png') no-repeat center;
  background-size: 100% 100%;
  display: block;
  margin: auto;
}
.tabBar ul .tabCash a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabCash.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash.active a p {
  color: #E75C52;
}
.tabBar ul .tabMy a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabMy.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy.active a p {
  color: #E75C52;
}
/*# sourceMappingURL=hbgroup.css.map */