html {
  font-size: 26.66667vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC";
}
body {
  font-size: 0.16rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
ul,
p,
span,
li,
button,
img {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white  inset !important;
}
input {
  outline-color: invert;
  outline-style: none;
  outline-width: 0;
  border: none;
  border-style: none;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-radius: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  font-size: 0.16rem;
  color: #f5f5f5;
}
i {
  font-style: normal;
}
hr {
  margin: 0;
  height: 0;
}
/*  以上去掉默认样式  */
.ov {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.app {
  padding-bottom: 1rem;
}
/* 底部tabBar */
.tabBar {
  width: 100%;
  height: 0.48rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.tabBar ul {
  overflow: hidden;
}
.tabBar ul li {
  width: 20%;
  float: left;
  text-align: center;
}
.tabBar ul li .showHide {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0.48rem;
  left: 0;
  z-index: 1000;
  display: none;
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.12rem 0.12rem 0 0;
}
.tabBar ul li .showHide a {
  display: block;
  padding: 0.14rem 0;
  border-bottom: 0.01rem solid #f5f5f5;
  font-size: 0.15rem;
  color: #131313;
}
.tabBar ul li .showHide a span {
  vertical-align: middle;
}
.tabBar ul li .showHide a img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.14rem;
  vertical-align: middle;
}
.tabBar ul li a {
  display: block;
  padding: 0.05rem 0;
}
.tabBar ul .tabHome a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHome.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_home.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHome.active a p {
  color: #E75C52;
  font-size: 0.12rem;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabHb.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_hb.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabHb.active a p {
  color: #E75C52;
}
.tabBar ul .tabAdd a i {
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/tab/tabar_add.png') no-repeat center;
  background-size: 100% 100%;
  display: block;
  margin: auto;
}
.tabBar ul .tabCash a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabCash.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_cash.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabCash.active a p {
  color: #E75C52;
}
.tabBar ul .tabMy a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/un_tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy a p {
  font-size: 0.12rem;
  color: #979797;
  margin-top: 0.02rem;
}
.tabBar ul .tabMy.active a i {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  margin: auto;
  background: url('../images/tab/tabar_my.png') no-repeat center;
  background-size: 100% 100%;
}
.tabBar ul .tabMy.active a p {
  color: #E75C52;
}
.appBox {
  height: 100vh;
  text-align: center;
}
.appBox img {
  width: 1.1rem;
  height: 1rem;
  display: block;
  margin: auto;
  padding-top: 2rem;
}
.appBox p {
  font-size: 0.14rem;
  color: #666666;
  margin-top: 0.2rem;
}
/*# sourceMappingURL=null.css.map */