html,body ,.box{height: 120vh;/*background: #0E2648;*/}
.tran-ul li{height: 55px;line-height: 55px;margin: 15px 0;font-size: 20px;color: #fff;cursor: pointer;background: #62A6E5;padding-left: 25px;text-align: center;}

table.reference{border-collapse: collapse;display: inline-block;width: 1170px;margin-top: -15px;margin-bottom: 30px;}
table.reference tr{background: rgba(101,119,136,0);}
table.reference td{text-align: center;max-width: 150px;height: 55px;font-size: 14px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 6px;border: 1px solid #f1f1f1;}
table.reference th{text-align: center;width: 242px;height: 55px;font-size: 14px;color: #333;padding: 0 6px;border: 1px solid #f1f1f1;}
table.reference th:last-child{width: 392px;}
table.reference td a{color: #17BF98;font-size: 14px;display: inline-block;width: 54px;text-align: left;}










































