.pr{position: relative;}
.imgone {width: 85%;height: 150px;margin: 0 0 0 2px;float: left;}
.upload-btn{background: #ffffff;text-align: center;position: absolute;top: 0;width: 100%;height: 150px;cursor: pointer;z-index: 98;}
.upload-btn img{margin-top: 26px;}
.upload-btn p{font-size: 14px;color: #000000;margin-top: 10px;}
textarea{margin: 0 0 0 2px;width: 85%;height: 98px;}
input{width:100%;height:150px;position:absolute;top:0;left:0;z-index:99;opacity:0;}