html, body, .box {height: 120vh;background: #11084D;}
.auction{text-align: center;}
.auction-title{color: #fff;font-size: 66px;margin: 22px 0 45px;}
.fomo-title{margin: 0 30px;font-size: 70px}
.start-time{font-size: 36px;margin-bottom: 20px;color: #fff;}
.time-format{font-size: 20px;color: #fff;}
.spot-bg i{width: 1101px;height: 432px;background: url(/public/images/website/spot-bg.png) no-repeat center;display: inline-block;position: absolute;left: 50%;margin-left: -550.5px;}

/*  拍卖规则  */
.auction-rule{background: #fff;position: relative;z-index: 99;left: 50%;margin-left: -585px;margin-top: 60px;text-align: center;}
.auction-logo i{width: 102px;height: 82px;background: url(/public/images/website/auction-logo.png) no-repeat center;display: inline-block;margin: 12px 0 22px;}
.lot-t{color: #FEC104;font-size: 20px;margin-bottom: 20px;}
.lot-rule{color: #000;font-size: 20px;margin-bottom: 54px;}
.rule-box{width: 1030px;height: 387px;background: #6142EE;border-radius:16px;display: inline-block;position: relative;}
.s-rule-b{width: 970px;height: 286px;background: #11084D;border-radius:16px;display: inline-block;margin-top: 22px;position: relative;}
.r-t-icon{width: 282px;height: 105px;background: url(/public/images/website/rule-t-icon.png) no-repeat center;display: inline-block;position: absolute;left: 50%;margin-left: -141px;top: -30px;z-index: 99;}
.detail-text{margin: 68px 55px;font-size: 14px;color: #fff;line-height: 18px;text-align: left;}
.detail-text p{margin-bottom: 23px;}
.detail-text p span {width: 4px;height: 18px;background: #F38C26;border-radius: 2px;display: inline-block;position: absolute;left: 41px;margin-right: 10px;}
.left-beautiful-spot{width: 69px;height: 21px;background: url(/public/images/website/beautiful-spot-icon.png) no-repeat center;display: inline-block;position: absolute;left: 300px;bottom: 29px;z-index: 99;}
.right-beautiful-spot{width: 69px;height: 21px;background: url(/public/images/website/beautiful-spot-icon.png) no-repeat center;display: inline-block;position: absolute;right: 300px;bottom: 29px;z-index: 99;}

/*  活动倒计时  */
.count-down{background: #E9F0F8;text-align: center;padding-bottom: 60px}
.count-text{font-size: 36px;color: #000;padding: 33px 0 30px;}
.count-d-icon{width: 42px;height: 22px;background: url(/public/images/website/count-down-icon.png) no-repeat center;display: inline-block;margin-bottom: 40px;}
.first{font-size: 20px;color: #000;margin: 44px 0 20px;}
.big-conut{display: inline-block;width: 240px;height: 90px;background: #55AAF6;}
.small-count{display: inline-block;width: 220px;height: 70px;margin: 10px;background: #1D7BEA;line-height: 70px;color: #fff;font-size: 30px;}
.w-count{width: 860px;display: inline-block;padding-bottom: 40px;border-bottom: 1px dashed #7CC4F7;}
.cinput-box{display: inline-block;margin: 40px 0 22px;border-radius: 6px;padding: 2px 10px;border: 1px solid #0860D8;}
.cinput-box input{width: 160px;height: 34px;font-size: 16px;color: #000;}
.cinput-box span{display: inline-block;line-height: 34px;height: 34px;font-size: 16px;color: #000;}
.c-btn-box{margin-bottom: 30px;text-align: center;}
.c-btn-p{display: inline-block;}
.c-btn-box ul{display: inline-block;margin-right: 20px;}
.c-btn-box ul li{width: 150px;background: #296DE2;color: #fff;border-right: 1px solid #4C85E7;height: 40px;line-height: 40px;cursor: pointer;}
.c-btn-box ul li:last-child{border-right: none;}
.c-btn-box ul li:hover{background: #0860D8;}
.c-position{display: inline-block;}
.c-join{font-size: 25px;display: inline-block;height: 40px;line-height: 36px;margin-right: 10px;}
.c-num{font-size: 14px;display: inline-block;height: 40px;line-height: 40px;}
.c-currency{font-size: 14px;display: inline-block;height: 40px;line-height: 40px;}
.c-sure-btn{width: 100px;height: 40px;line-height: 40px;text-align: center;background: #FEC104;color: #fff;cursor: pointer;font-size: 16px;}
.c-sure-btn:hover{background: #efb504;}
.balance-box{font-size: 14px;color: #000;margin-bottom: 24px;}
.c-b-text{font-size: 30px;}

.se-kl {display: inline-block;}
.se-count {height: 90px;}
.se-day {display: none;}
.se-hour,.se-min,.se-sec {position: relative;background-color: #2f3430;width: 180px;height: 90px;float: left;text-align: center;line-height: 90px;margin-right: 5px;border-radius: 4px;box-shadow: 0 0 10px rgba(89,89,89,.35);}
.se-sec{margin-right: 0;}
.se-txt {font-size: 70px;font-weight: bold;color: #fff;}
.se-txt:before {content: "";display: block;position: absolute;top: 50%;left: 0;width: 100%;height: 2px;background-color: #e9f0f8;}

/*  拍卖结束  */
.count2{font-size: 18px;color: #333;margin-bottom: 16px;}


/*  拍卖排行榜  */
.auction-list-box{text-align: center;margin-bottom: 100px;}
.auction-list{background: #fff;height: 575px;}
.au-l-box{width: 1030px;height: 387px;background: #11084D;border-radius:16px;display: inline-block;margin-top: 80px;}
.auction-list-icon{width: 282px;height: 105px;background: url(/public/images/website/auction-list-icon.png) no-repeat center;position: absolute;left: 50%;margin-left: -141px;top: 50px;z-index: 99;}
.a-pop-box{font-size: 16px;color: #60598B;margin-top: 47px;cursor: pointer;}
.a-time-icon{width: 15px;height: 21px;background: url(/public/images/website/a-time-icon.png) no-repeat center;display: inline-block;margin-right: 10px;vertical-align: text-bottom;}
.c-right-icon{width: 9px;height: 21px;background: url(/public/images/website/c-right-icon.png) no-repeat center;display: inline-block;margin-left: 10px;vertical-align: text-bottom;}

table.reference{border-collapse: collapse;margin-bottom: 4px;display: inline-block;margin-top: 60px;}
table.reference tr{background: rgba(101,119,136,0);}
table.reference td{line-height: 20px;padding: 12px 2px;vertical-align: middle;font-size: 12px;color: #DBD9EF;}
table.reference .th{height: 56px;font-size: 18px;color: #fff;}
table.reference .th th{width: 166px;font-weight: normal;}

/*  查看历史竞拍数据弹窗  */
.popup-box{width: 1200px;height: 400px;background:rgba(255,255,255,1);position: fixed;top: 0;right: 0;left: 0;bottom: 0;margin: auto;box-shadow: 0 0 10px rgba(89,89,89,.35);z-index: 999;border-radius:4px;display: none;}
.popup-title{line-height: 48px;color: #091928;font-size: 20px;background: #F5F5F5;border-top-left-radius: 4px;border-top-right-radius: 4px;text-align: center;}
.popup-title i{width: 40px;height: 40px;background: url(/public/images/index/close-icon.png) no-repeat center;display: inline-block;position: absolute;right: 5px;top: 4px;cursor: pointer;}
table.more-num{border-collapse: collapse;display: inline-block;height: 316px;}
.popup-body{margin: 20px;overflow-y: scroll;}
table.more-num tr{text-align: center;}
table.more-num td{line-height: 20px;padding: 12px 2px;vertical-align: middle;font-size: 14px;color: #726bbb;}
table.more-num .th{height: 56px;font-size: 18px;color: #222;text-align: center;}
table.more-num .th th{width: 166px;font-weight: normal;}








